.container {
    // max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @include mobile {
        min-width: 480px;
    }
    @include tablet {
        min-width: 768px;
    }
    @include desktop {
        min-width: 1200px;
    }
}
